body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e0f2fe;
    font-family: Arial, sans-serif;
}
.card{
    width: 320px;
    padding: 16px;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    text-align: center;
}